# api側
api/.bundle
api/log/*
api/tmp/*
api/log/.keep
api/tmp/.keep
api/storage/*
api/storage/.keep
api/.byebug_history
api/config/master.key
api/vendor/bundle

# front
front/node_modules
front/coverage
front/build
front/.DS_Store
front/.env.local
front/env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
